@import "compass/typography/vertical_rhythm"
@import "modules/globals"

$base-font-size: $fs_def
$base-line-height: $lh_def

body
  font-family: $ff_def

h1
  +adjust-font-size-to($fs_xxl)

h2
  +adjust-font-size-to($fs_xl)

h3, h4, h5, h6
  +adjust-font-size-to($fs_ml)

p
  +adjust-font-size-to($fs_def)

.mk-red
  border: 1px solid red
.mkb-red
  border: 1px solid red
  background: hsla(0, 100%, 50%, 0.1)